// If you want to override variables do it here
@import "variables";

// Import styles
@import "@coreui/coreui/scss/coreui";
@import "@coreui/chartjs/scss/coreui-chartjs";

// Vendors
.simplebar-content {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

// Custom styles for this theme
@import "theme";

// If you want to add custom CSS you can put it here
@import "custom";


//滑块选择
.toggle-switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
}

.toggle-switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.toggle-switch-slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: .4s;
  border-radius: 20px;
}

.toggle-switch-slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  transition: .4s;
  border-radius: 50%;
}

input:checked + .toggle-switch-slider {
  background-color: #1890ff;
}

input:checked + .toggle-switch-slider:before {
  transform: translateX(20px);
}

.text-truncate {
  max-width: 150px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.fixed-column {
  position: sticky;
  right: 0;
  background-color: #fff;
  z-index: 1;
}

.record-font {
  font-size: 14px;
}

html[data-coreui-theme="dark"]{
  --table-odd-row-color: #2c313c;
  --table-even-row: #212631;
}
html[data-coreui-theme="light"]{
  --table-odd-row-color: #e6e8e8;
  --table-even-row: #fff;
}
.table-odd-row {
  background-color: var(--table-odd-row-color);
}
.table-even-row {
  background-color: var(--table-even-row);
}


